/* Info ---------------------------------------- */

#Form{
    flex-direction: column;
}

.form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.form-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-row:first-child > .form-col > .form-group{
    width: 100%;
}

.form-input{
    width: 80%
}

.form-text{
    margin: 16px 0;
    color: var(--iron);
}

#FormDesc{
    resize: none;
    height: 160px;
    outline: none;
    padding: 12px;
}

.form-kind-li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
    color: var(--iron);
}

input[type="checkbox"]{
    accent-color: var(--iron);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
}

#FormDelete{
    color: var(--red);
    background-color: transparent;
    border-color: var(--red);
}

#FormDelete:hover{
    color: var(--light);
    background-color: var(--red);
}

#FormCancel{
    color: var(--blue);
    background-color: transparent;
    border-color: var(--blue);
}

#FormCancel:hover{
    color: var(--light);
    background-color: var(--blue);
}

#FormApply,
#FormBuild{
    color: var(--light);
    background-color: var(--blue);
    border-color: var(--blue);
}

/* Msg */

.msg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.3);
    transition-duration: 200ms;
}

.msg.--show{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.msg-box{
    width: 30%;
    min-width: 300px;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.msg-icon{
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
}

.msg-desc{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: var(--iron);
    margin: 28px 0;
}

.msg-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.msg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 36px;
    font-size: 16px;
    border: 1px solid var(--blue);
}

.msg-btn+.msg-btn{
    margin-left: 12px;
}

.msg-cancel{
    background-color: transparent;
    color: var(--blue);
}

.msg-cancel:hover,
.msg-apply{
    background-color: var(--blue);
    color: var(--light);
}

/* RWD */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .form-col{
        width: 100%;
        padding: 16px 0;
    }
    .form-col+.form-col{
        border-top: 1px solid #dadada;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 540px) {
    .form-row:first-child > .form-col > .form-group{
        margin: 8px 0;
    }
    .form-input{
        width: 100%;
    }
    #FormDesc{
        height: 200px;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}